<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
	<link rel="stylesheet" href="./css/main.css">
	<title>Formulario</title>
</head>
<body>	

  <section>	  
	  <a id="btn_salir" href="/login">Salir</a>	
	  {{>formulario}}     

      <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-storage.js"></script>
      <!--<script src="js/js.js"></script>-->
  </section>
</body>