<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Iniciar sesion</title>
        <link rel="stylesheet" href="css/estilos.css">
    </head>
    <body background="img/grande.jpg">
        <div class="login_container">
            <div class="login_top">
                <img nclass="login_img" src="./img/images.png" alt="">
                <h2 class="login_title"> Iniciar Sesion
                </h2>
            </div>
            <form class="login_form">
                <input type="text" id="user" placeholder="Usuario" >
                <input type="password" id="pass" placeholder="Contraseña" >
                <a class="btn btn-primary" href="/admin">Iniciar</a>
                
            </form> 
            
        </div>
        <!--<script src="js/index.js"></script>-->
        <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-storage.js"></script>
        <!--<script src="js/js.js"></script>-->
    </body>
</html>